// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$RGMed: "Right Grotesk Medium";
@font-face {
  font-family: $RGMed;
  src: asset-url('RightGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


$RGSBlack: "Right Grotesk Spatial Black";
@font-face {
  font-family: $RGSBlack;
  src: asset-url('RightGrotesk-SpatialBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$Souvenir: "Souvenir STD Light";
@font-face {
  font-family: $Souvenir;
  src: asset-url('SouvenirStd-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$Raisonne: "Raisonne Demi-Bold";
@font-face {
  font-family: $Raisonne;
  src: asset-url('Raisonne-DemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
