.book-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.review_input {
  height: 100px;
}

.book-header-left {
  box-shadow: 1px 1px 2px rgba(40,40,40,.2);
  border-radius: 5px;
  width: 75%;
  padding: 5px;
}

.book-header-left-bottom p {
  font-size: 12px;
  height: 60px;
  overflow: hidden;
}

.book-header-right {
  width: 25%;
}

.your-area {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #EF7258;
}

.book-header-right ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding: 5px 0;
}

.book-header-left-top {
  display: flex;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 3px;
}

.book-info p {
  font-size: 10px;
  padding-left: 8px;
  margin: 0;
  padding: 0 0 0 8px;

}

.book-info .bigger {
  font-size: 13px;
}

.small {
  font-size: 10px;
}

.distance-list {
  text-align: center;
}

.reviews {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-input{
  margin-top: 6px;
  background-color: white;
  width: 80px;
}

.reviews p {
  font-size: 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.review-input {
  background-color: white;
}

.book_review_rating label {
  margin-top: 10px;
  margin-bottom: 0;
}

.review-btn {
  background-color: #25DD87;
  color: white;
  height: 38px;
}

.form-grouping div {
  width: 244px;
}

.submit {
    position: absolute;
    right: 16px;
    bottom: -55px;
  }
