// Specific CSS for your home-page
.width-300 {
  width: 100vw;
}

.width100 {
  width: 100%;
}

body {
  margin: 0;
}

.all {
  height: 100vh;
}

.bold{
  font-weight: bold;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1546521343-4eb2c01aa44b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9va3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 80vh;
}

.nav-header {
  font-family: $Raisonne;
  font-style: normal;
  font-size: 30px;
  color: #000000;
  // line-height: 20px;
  // line-height: 67%;
  align: Center;
  // vertical-align: Top;
  opacity: 100%;
  // margin-left: 5px;
}

.home-header {
  font-family: $RGMed;
  font-style: bold;
  font-size: 24px;
  color: #F07257;
  // line-height: 20px;
  // line-height: 67%;
  align: Center;
  // vertical-align: Top;
  opacity: 100%;
  // margin-left: 5px;
}

.book-link {
  color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
