<footer class='footer'>
<!--   <%= link_to "About Us", pages_about_us_path, class: "btn-footer" %>
  <%= link_to "FAQ", pages_faq_path, class: "btn-footer" %> -->

  <a href="#" class="footer-nav-link">
    <i class="material-icons nav__icon">dashboard</i>
    <span class="nav__text">Dashboard</span>
  </a>
  <a href="#" class="footer-nav-link footer-nav-link--active">
    <i class="material-icons nav__icon">person</i>
    <span class="nav__text">Profile</span>
  </a>
  <a href="#" class="footer-nav-link">
    <i class="material-icons nav__icon">devices</i>
    <span class="nav__text">Devices</span>
  </a>
  <a href="#" class="footer-nav-link">
    <i class="material-icons nav__icon">lock</i>
    <span class="nav__text">Privacy</span>
  </a>
  <a href="#" class="footer-nav-link">
    <i class="material-icons nav__icon">settings</i>
    <span class="nav__text">Settings</span>
  </a>
</footer>
