<footer class='footer-nav'>
  <!-- <%= link_to "About Us", pages_about_us_path, class: "btn-footer" %> -->
  <!-- <%= link_to "FAQ", pages_faq_path, class: "btn-footer" %> -->

  <a href="/" class="footer-nav-link">
    <i class="material-icons-round nav__icon">home</i>
    <span class="nav__text">Home</span>
  </a>
  <a href="/catalog_items/my_books" class="footer-nav-link footer-nav-link--active">
    <i class="material-icons-round nav__icon">library_books</i>
    <span class="nav__text">Dashboard</span>
  </a>
  <a href="#" class="footer-nav-link">
    <i class="material-icons-round nav__icon">face</i>
    <span class="nav__text">Profile</span>
  </a>
  <a href="/chatrooms" class="footer-nav-link">
    <i class="material-icons-round nav__icon">chat</i>
    <span class="nav__text">Messages</span>
  </a>
  <!-- <a href="#" class="footer-nav-link">
    <i class="material-icons nav__icon">settings</i>
    <span class="nav__text">Settings</span>
  </a> -->
</footer>
