<div class="create mt-3">
  <%= link_to "Add new book", new_book_path, class: "btn-primary" %>
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Catalog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pending Swaps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Accepted Swaps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1">Rejected Swaps</a>
  </li>
</ul>
