<div class="c-card">

  <% hour = (DateTime.now.hour) - request.updated_at.hour %>
  <% days = DateTime.now.day - request.updated_at.day %>
    <% (DateTime.now.month == request.updated_at.month && DateTime.now.day == request.updated_at.day) ? (hour == 0 ? now = "Traded now" : now = "Traded #{hour}hr#{hour == 1 ? "" : "s"} ago") : now = "Traded #{days} day#{days == 1 ? "" : "s"} ago" %>
  <h5 class="c-title" id="exampleModalLabel"><%= now %></h5>

  <div class="d-flex justify-content-between align-items-center">
    <% if request.buyer_item.book.photo.attached? %>
      <%= cl_image_tag(request.buyer_item.book.photo.key, crop: :fill, height: 80, class: "product-img") %>
    <% end %>

    <%= image_tag("https://image.flaticon.com/icons/png/512/335/335522.png", crop: :fill, height: 15) %>

    <% if request&.seller_item&.book&.photo&.attached? %>
      <%= cl_image_tag(request&.seller_item&.book&.photo&.key, crop: :fill, height: 80, class: "product-img") %>
    <% end %>
  </div>
</div>
