<div class="about">
  <section class="goals">
    <h1 class="slogan"></h1>
    <div class="mission">
    </div>
  </section>
  <div class="mission-section">
    <h1 class="mission-title"></h1>
    <div class="mission-content">
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="col-lg-12 text-center vcenter">
          <h2>A Litle Bit About Us </h2>
          <p> Our App is a new way to trade books you've already read for new ones you're interested in reading. Our goal is to connect you with a community of like minded readers that want to share their books in a new and fun way. Instead of reading a book and just storing it on your shelf, now you can trade it for the next book on your reading list. With our app, everyone gets to enjoy a new book without spending the extra cash and needing to make space to store it. Not only will this help you clean out the clutter in your home, but you get the value back for the books you've already purchased, all while benefiting the environment. Join our vibrant community of traders and find a new and affordable way to read books.
          </p>
        </div>
      </section>
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="mission-card-content">
        </div>
      </section>
    </div>
  </div>
  <div class="team">
    <h1 class="team-title"></h1>
    <div class="team-content">
      <section class="team-card">
        <div class="team-media">
          <img src="">
        </div>
        <div class="team-card-content">
        </div>
      </section>
    </div>
  </div>
</div>
