<div class="about">
  <section class="goals">
    <h1 class="slogan"></h1>
    <div class="mission">
    </div>
  </section>
  <div class="mission-section">
    <h1 class="mission-title"></h1>
    <div class="mission-content">
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="col-lg-12 text-center vcenter">
          <h2>A Litle Bit About Us </h2>
          <p> PageSwap is a great way to trade books you've already read for new ones you're interested in reading.<br>Our goal is to connect you with a community of like-minded readers that want to upcycle their books in a fun and friendly way. Instead of reading a book and just storing it on your shelf to gather dust, you can now swap it for the next title on your reading list! With PageSwap, everyone gets to enjoy a new book without spending extra cash and needing to make space to store it. Our app will help you clean out the clutter in your home and get the value back for the books you've already purchased, all while benefiting the environment. Join our vibrant community of traders and find a fun and thrifty way to read new books!
          </p>
        </div>
      </section>
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="mission-card-content">
        </div>
      </section>
    </div>
  </div>
  <div class="team">
    <h1 class="team-title"></h1>
    <div class="team-content">
      <section class="team-card">
        <div class="team-media">
          <img src="">
        </div>
        <div class="team-card-content">
        </div>
      </section>
    </div>
  </div>
</div>
