<div class="about">
  <section class="goals">
    <h1 class="slogan"></h1>
    <div class="mission">
      <h1> </h1>
      <p></p>
    </div>
  </section>
  <div class="mission-section">
    <h1 class="mission-title"></h1>
    <div class="mission-content">
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="col-lg-12 text-center vcenter">
          <h2>A Litle Bit About Us </h2>
          <p> Our App is a new way to trade your books you've already read for new ones you're interested in reading.
            Our goal connect you with a community of like minded readers that want to share their books
            in new and fun way that help you to get rid of your old books and be apart of vibrant community that help the environment
            and a litle bit with your house clutter.
        </div>
      </section>
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="mission-card-content">
          <h2></h2>
          <p></p>
        </div>
      </section>
    </div>
  </div>
  <div class="team">
    <h1 class="team-title"></h1>
    <div class="team-content">
      <section class="team-card">
        <div class="team-media">
          <img src="">
        </div>
        <div class="team-card-content">
          <h2></h2>
          <p></p>
        </div>
      </section>
    </div>
  </div>
</div>
