<h2>Sorry no one wants your books</h2>
<div class="container error-gif">
  <img src="https://media2.giphy.com/media/xTiN0L7EW5trfOvEk0/200w.webp?cid=ecf05e47sxxgs39dx6zcm88hl9q4tpdelz4csec3ffjpmeon&rid=200w.webp&ct=g" />
</div>
