<div class="faq home">
  <div class="faq-banner">
    <h1 class="faq-header">Frequently Asked Questions (FAQ)</h1>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How do you swap a book </h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. We dont, however the quality of the book is displayed.</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. What do you recommend I start with?</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. OG Kush is a very good book strain to start with. Very smooth much Love lots of book.</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How can you ensure no one draws a penis in a book before trading?</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. The simple answer is we can't, good luck ;)</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. What if I get a book and dont like it?</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. Thats a stupid fucking question, this apps entire premise is based on getting rid of books you dont want... fucking idiot</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How can you ensure the saftey of these meetups</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A If they try to kill you make sure to give them a one star rating so people know :)</h3>
    </div>
  </div>
  <div class="faq-container" id="faq-container-bottom">
    <div class="question-container">
      <h3 class="question">Q.Can I trade things other then books <span class="tiny">weed</span></h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. Technically no, but also check your messages</h3>
    </div>
  </div>
</div>
