.btn-footer {
  color: white;
  text-decoration: none;
  font-size: 18px;
  // &:focus, &:hover {
  //   text-decoration: none;
  //   color: #fff;
  // }
  // &:hover {
  //   color: lighten(#6C5AC7, 5%);
  //   &::after {
  //     opacity: .22;
  //   }
  // }
}

.btn-modal {
  color: #fff;
}

.btn-login {
  color: #fff;
  background-color: #3b3b3b;
  border-radius: 8px;
}


