.btn-footer {
  color: white;
  text-decoration: none;
  font-size: 18px;
  // &:focus, &:hover {
  //   text-decoration: none;
  //   color: #fff;
  // }
  // &:hover {
  //   color: lighten(#6C5AC7, 5%);
  //   &::after {
  //     opacity: .22;
  //   }
  // }
}

.btn-modal {
  color: #fff;
}

.btn-login {
  color: #fff;
  background-color: #3b3b3b;
  border-radius: 8px;
}

.btn-br {
  color: #fff;
  border-radius: 8px;
}

.chevron-big {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
  color: #3b3b3b;
}

.close-times {
  font-size: 20px;
  align-items: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #3b3b3b;
}
