.btn-footer {
  color: white;
  text-decoration: none;
  font-size: 18px;
  // &:focus, &:hover {
  //   text-decoration: none;
  //   color: #fff;
  // }
  // &:hover {
  //   color: lighten(#6C5AC7, 5%);
  //   &::after {
  //     opacity: .22;
  //   }
  // }
}

.btn-modal {
  color: #fff;
}

.btn-login {
  color: #fff;
  background-color: #3b3b3b;
  border-radius: 8px;
}

.btn-br {
  color: #fff;
  border-radius: 8px;
}

.chevron-big {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
  color: #3b3b3b;
}

.close-times {
  background-color: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
  // margin-right: 10px;
  // margin-top: 10px;
  color: #3b3b3b;
}

// .remove-trash {
//   background-color: transparent;
//   color: #E8867C;
//   border: none;
//   font-size: 20px;
//   margin-right: 10px;
//   // margin-top: 10px;
// }

.btn-br-remove {
  background-color: #E8867C;
  border: none;
}

.text-tabs {
  color: #3b3b3b;
}
