.car-cards {
  display: flex;
  justify-content: center;
}

.c-card {
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(30, 30, 30, .3);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.c-title {
  font-size: 17px;
  text-align: center;
}

.modal{
  z-index: 100;
}
