.footer {
  background-color: #484654;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subcontainer-content {
  min-height: 81vh;
  margin-top: 85px;
}
