body {
    margin: 0 0 55px 0;
}
.footer-nav {
  background-color: #F07257;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.footer-nav-icon {
  font-size: 18px;
}

.footer-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #3B3B3B;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

// .nav__link:hover {
//     background-color: #eeeeee;
// }

.footer-nav-link--active {
    color: #FDF1C5;
}

.subcontainer-content {
  min-height: 81vh;
  margin-top: 85px;
  margin-bottom: 60px;
}
