.message-form form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-messages {
  box-shadow: 1px 1px 1px rgba(40,40,40,.2);
  width: 90%;
  display: flex;
  align-items: center;
  height: 85px;
  margin: 10px;
}

.width100p {
  width: 150px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#messages {
  margin: 10px;
}

.message-form {
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.send-button {
  height: 100%;
}

.message-input {
  height: 100%;
}

.message-back {
  position: fixed;
  top: 50px;
  left: 10px;
}
