.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

.header {
  font-style: Bold;
  font-size: 26px;
  color: #3B3B3B;
  // line-height: 20px;
  // line-height: 67%;
  // align: Center;
  // vertical-align: Top;
  opacity: 100%;
}
