.product-card {
  width: 300px;
  height: 150px;
  box-shadow: 1px 1px 2px rgba(20,20,20,.3);
  border-radius: 8px;
  margin: 10px auto;
  flex-direction: column;
}

.product-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-p p {
  overflow: hidden;
  white-space: nowrap;
}

.product-p-user {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-info {
  width: 100%;
}

.product-card-user {
  height: 100px;
  width: 300px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(20,20,20,.3);
  border-radius: 8px;
  margin: 10px;
  flex-direction: column;
}

.product-details-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-p {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 93%;
}

.product-photo {
  width: 100%;
  height: 70%;
}

.product-img {
  border-radius: 8px;
}

.product-img-smaller {
  width: 50px;
  border-radius: 8px;
}


.product-details {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.product-details1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  height: 100%;
  width: 230px;
}

.product-details1-smaller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2px;
  height: 100%;
  width: 50%;
}

.product-details2 {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-weight: bold;
}

.product-details2-smaller {
  height: 100%;
  width: 50%;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  font-weight: bold;
}

h2  {
  text-align: center;
}

.create {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-footer {
  justify-content: space-between;
}

.product-card p {
  font-size: 12px;
  margin: 0;
}


.product-card {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.catalog_title h2 {
  padding: 0;
  margin: 0;
}

.catalog_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.small-title {
  font-weight: lighter;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

#small-title{
  font-size: 10px;
  overflow: hidden;
}

.width50 {
  width: 50px;
}
