.card-middle h4 {
  margin: 0;
  font-size: 12px;
}

.product-card2 {
  height: 120px;
  margin: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details3 {
  height: 100%;
  padding: 4px;
  box-shadow: 1px 1px 2px rgba(20,20,20,.3);
  border-radius: 8px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.product-details2-smaller2 {
  height: 100%;
  width: 92.5px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;

}

.product-details1-smaller2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  height: 100%;
  width: 92.5px;
  overflow: hidden;
  white-space: nowrap;

}

.profile-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.profile-top h3 {
  text-align: center;
}

.profile-left {
  width: 50%;
}

.profile-right {
  width: 50%;
}

.profile-bottom h5 {
  text-align: center;
}

.profile-bottom {
  flex-direction: column;
}

.profile-link {
  color: black;
}
