.form-control {
  background-color: #white;
  width: 85%;
  margin-bottom: 5px;
}

.search-form input {
  border: none;
}

.search-form2 form.search-bar input {
  border: none;
  background-color: white;
}

.search-form input:focus {
  outline: none;
}

.search-form2 form.search-bar input:focus {
  outline: none;
}

.search-form form.search-bar {
  display: flex;
  border: solid  1px rgb(133, 133, 133);
  align-items: center;
  border-radius: 6px;
  width: 75vw;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.search-form2 form.search-bar {
  display: flex;
  border: solid  1px rgb(133, 133, 133);
  align-items: center;
  border-radius: 6px;
  width: 250px;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.btn-search {
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #777777;
  border-radius: 8px;
  background-color: white;
  border: none;
  width: 26px;
}

.btn-search2 {
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #777777;
  border-radius: 8px;
  background-color: white;
  border: none;
  width: 26px;
}

.search-form form.search-bar button:focus {
  outline: none;
}

.search-form2 form.search-bar button:focus {
  outline: none;
}

.catalog-form form {
  width: 250px;
}
