.medium-title {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 5px;
}

.your-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 157px;
}

.their-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  max-width: 157px;
}


.modal-body {
  padding: 6px;
}

.modal-height {
  height: 330px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
