.medium-title {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 5px;
}

.your-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.their-book {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}


.modal-body {
  padding: 6px;
}

.modal-height {
  height: 400px;
}
